{{ define "main" }}
<section class="section">
    <article>
    <style>
        .author-image {object-fit: inherit;width: 200px;height: 200px;}
    </style>
      <div class="columns is-centered">
          <div class="column max-800px">
              <h1 class="title is-1">{{ .Title }}</h1>
              <div class="title subtitle heading is-6">
                <div class="columns is-vcentered">
                  <!-- <div class="column"> -->
                    <div class="columns is-vcentered is-mobile">
                      {{ with .Site.Params.authorImage }}
                      <div class="column is-narrow">
                        <img src="{{ . }}" class="author-image">
                      </div>
                      {{ end }}
                    </div>
                  </div>
              <div class="content">
                  {{ .Content }}
              </div>
          </div>
        </div>
    </article>
  </section>
{{ end }}